body {
    background-image: url("P5123052.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: Tahoma;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
}
.title {
    display: inline;
    position: relative;
    left: 5%;
    font-family: "Century Gothic";
    color: #ffffff;
}
#server_problem {
    color: #fa7381;
}
#history_box_and_footer {
    margin: 0 auto;
    min-width: 50%;
    max-width: 60%;
    height: 100%;
}
.enter_name {
    margin: 0 auto;
    width: 50%;
    height: 10%;
    padding-bottom: 5px;
}
.enter_name_text {
    font-size: 120%;
    font-family: "Century Gothic";
    color: white;
}
.enter_name_text_box {
    font-size: 120%;
}

.history {
   /* min-width: 50%;
    max-width: 60%;*/
    width: 100%;
    height: 395px;
    margin: 0 auto;
    padding: 3% 3% 3% 3%;
    margin-bottom: 1.5%;
    vertical-align: top;
    border-width: 3px;
    background-color: hsla(0,100%,100%,0.7);
    overflow-y: scroll;
}
.button {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66c716),to(#b8ff2d));
    border-width: 0px;
    border-radius: 8px;
    font-family: "Century Gothic";
    color: #054609;
    font-size: 20px;
}
.button:hover {
    color: #054609;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b8ff2d), to(#66c716));
}
.button:active {
    color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#81af1d), to(#2d5910))
}
.all_my_message {
    float: right;
    clear: both;
}
.all_user_message {
    float: left;
    clear:right;
}
.username {

    color: #2d5910;
    vertical-align: top;
    margin-left: 8px;
    margin-bottom: 3px;
}
.my_message {
    background-color: #b8ff2d;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.user_message {
    background-color: #81af1d;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.text_message {
    margin: 8px 5px 10px 5px;
}
.time_message {
    vertical-align: top;
}
.delete_message {
    width: 5%;
}
.edit_message {
    height: 5px;
}
.server_message {
    color: #0c76be;
}

#box_new_message {
    margin: 0 auto;
    width: 100%;
    height: 50px;
}
#new_message {
    resize: none;
    width: 100%;
    height: 45px;
    padding: 5px 10px 5px 10px;
    overflow-y: scroll;
   /* margin-right: 20px;*/
    font-family: Tahoma;
}
/*#button_sent {
    position: relative;
    bottom: 24px;
    width: 80px;
    height: 40px;
}*/
footer {
    margin: 0 auto;
    width: 100%;
    font-family: "Century Gothic";
    color: #ffffff;
}